#body{
	background-color: #CDDC39;
}

#custom-nav{
	margin-bottom: 0px;
}

.center{
	margin: auto;
	text-align: center;
	margin-top: 100px;
}

.bigquestion {
 font-family: times, Times New Roman, times-roman, georgia, serif;
 color: #673AB7;
 margin: 0;
 padding: 0px 0px 6px 0px;
 line-height: 44px;
 letter-spacing: -2px;
 font-weight: 900;
 text-shadow: 2px 2px #ddd;
 text-align: center;
 width: 100%;
}

.cloud {
	background: #80DEEA;
	/*background: -moz-linear-gradient(top,  #fff 5%, #f1f1f1 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#fff), color-stop(100%,#f1f1f1));
	background: -webkit-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -o-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: -ms-linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	background: linear-gradient(top,  #fff 5%,#f1f1f1 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#f1f1f1',GradientType=0 );*/

	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	/*-webkit-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 5px rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 5px rgba(0,0,0,0.1);*/

	height: 80px;
	position: relative;
	width: 230px;
}

.cloud:after, .cloud:before {
    background: #80DEEA;
	content: '';
	position: absolute;
	z-indeX: -1;
}

.cloud:after {
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	border-radius: 100px;

	height: 70px;
	left: 40px;
	top: -40px;
	width: 70px;
}

.cloud:before {
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
	border-radius: 200px;

	width: 120px;
	height: 120px;
	right: 35px;
	top: -65px;
}

.cloud-container{
	transform:scale(0.68);
}

#clouds-area-upper{
	height: 220px;
}

#clouds-area-lower{
	height:300px;
}

.shadow{
	width: 220px;
	position: absolute;
	bottom: -35px;
	background: #000;
	animation: shadowAnim 3s ease-in-out infinite;
	box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
}

@keyframes shadowAnim {
    from {
        transform: scale(.85)
    }

    65% {
        transform: scale(1)
    }

    to {
        transform: scale(.85)
    }
}

.cloud-text{
	font-size: 20px;
	text-align: center;
	color: #006064;
}

#cloud-text-1-upper{
	margin-top: -34px;
}

#cloud-text-2-upper{
	margin-top: -35px;
	font-size: 17px;
	line-height: 1.38;
}

#cloud-text-3-upper{
	margin-top: -29px;
	font-size: 19px;
}

#cloud-text-4-upper{
	margin-top: -25px;
	font-size: 18px;
}

#cloud-text-5-upper{
	margin-top: -33px;
}

#cloud-text-6-upper{
	margin-top: -33px;
	font-size: 19px;
}

#cloud-text-1-lower{
	margin-top: -30px;
	font-size: 19px;
}

#cloud-text-2-lower{
	margin-top: -20px;
	font-size: 23px;
}

#cloud-text-3-lower{
	margin-top: -30px;
	font-size: 19px;
}

#cloud-text-4-lower{
	margin-top: -30px;
	font-size: 16px;
}

#cloud-1-upper{
	animation-name: animateCloud1;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateCloud1{
	from{
		transform: translateY(100px) scale(0.9);
	}
	to{
		transform: translateY(120px) scale(0.9);
	}
}

#cloud-2-upper{
	animation-name: animateCloud2;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateCloud2{
	from{
		transform: translateY(270px) scale(1.35);
	}
	to{
		transform: translateY(250px) scale(1.35);
	}
}

#cloud-3-upper{
	animation-name: animateCloud3;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateCloud3{
	from{
		transform: translateY(120px) scale(1.1);
	}
	to{
		transform: translateY(140px) scale(1.1);
	}
}

#cloud-4-upper{
	animation-name: animateCloud4;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateCloud4{
	from{
		transform: translateY(300px) scale(1.4);
	}
	to{
		transform: translateY(330px) scale(1.4);
	}
}

#cloud-5-upper{
	animation-name: animateCloud5;
	animation-duration: 1.5s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateCloud5{
	from{
		transform: translateY(150px);
	}
	to{
		transform: translateY(120px);
	}
}

#cloud-6-upper{
	animation-name: animateCloud6;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateCloud6{
	from{
		transform: translateY(400px) scale(1.4);
	}
	to{
		transform: translateY(420px) scale(1.4);
	}
}





#cloud-1-lower{
	animation-name: animateLowerCloud1;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateLowerCloud1{
	from{
		transform: translateY(200px) scale(1.1);
	}
	to{
		transform: translateY(220px) scale(1.1);
	}
}

#cloud-2-lower{
	animation-name: animateLowerCloud2;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateLowerCloud2{
	from{
		transform: translateY(250px) scale(0.9);
	}
	to{
		transform: translateY(220px) scale(0.9);
	}
}

#cloud-3-lower{
	animation-name: animateLowerCloud3;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateLowerCloud3{
	from{
		transform: translateY(320px) scale(1.2);
	}
	to{
		transform: translateY(290px) scale(1.2);
	}
}

#cloud-4-lower{
	animation-name: animateLowerCloud4;
	animation-duration: 2s;
	animation-direction: alternate;
	animation-timing-function: ease-in-out;
	animation-iteration-count: infinite;

}

@keyframes animateLowerCloud4{
	from{
		transform: translateY(340px) scale(1.6);
	}
	to{
		transform: translateY(370px) scale(1.6);
	}
}
